#notificationContainer {
	background-color:#F3F4F5;
}
#notification_count {
	padding: 0 3px;
	background: #cc0000;
	color: #ffffff;
	font-weight: bold;
	margin-left: 25px;
	border-radius: 3px;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	position: absolute;
	margin-top: 3px;
	font-size: 11px;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu {
    padding: 2px 3px;
    background-color: #34495e;
}
.navbar-nav > li > .dropdown-menu {
    min-width: 60%;
    margin-top: 9px;
    border-radius: 4px;
}

.dropdown-menu .divider {
    height: 2px;
    margin: 3px 0;
    overflow: hidden;
    background-color: #666;
}

.icon-border {
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
}